@font-face {
    font-family: Monteserrat;
    src: url(../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Monteserrat-bold;
    src: url(../../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: HyPop;
    src: url(../../assets/fonts/hypop/Hypop.ttf);
}

@font-face {
    font-family: HyPop-bold;
    src: url(../../assets/fonts/hypop/Hypop-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #213037;
    font-family: Monteserrat;
    text-transform: capitalize;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    height: 30px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #fff;
    display: block;
    text-decoration: none;
    list-style: none;
}

header .navbar ul li ul.recipes {
    padding: 0px !important;
}

header .navbar ul li ul.recipes a {
    font-size: 12px;
}

header .navbar ul li a:hover {
    background: #344953;

}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 150px;
    height: 300px;
    overflow-y: scroll;
    background: #213037;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

header .navbar ul li:hover > ul {
    display: initial;
}


header .navbar ul li ul li::-webkit-scrollbar {
    width: 6px;
}

header .navbar ul li ul li::-webkit-scrollbar-thumb {
    background-color: #999;
    height: 50px;
    border-radius: 50px;
}

header .navbar ul li ul li::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#menu {
     display: none;
}

header .menu-bar{
    height: 25px;
    filter: invert(1);
    cursor: pointer;
    display: none;
}

body {
    background: #fffaf1;
}


section {
    margin-top: 80px;
    font-family: HyPop;
}

.container div .food-img img{
    width: 100%;
}

.food-name span {
    color: #f88e28;
    font-family: HyPop-bold;
    line-height: .7;
    margin-bottom: 20px;
    font-style: italic;
}

.food-name span:first-child{
    font-size: 120px;
}

.food-name span {
    font-size: 70px;
}

.food-serve, .food-prep {
    padding: 10px;
    border: 2px solid #2b898b;
}

.food-serving .food-serve span:first-child{
    font-family: Monteserrat;
    color: #f88e28;
    font-size: 30px;
}

.food-serving .food-serve span {
    font-family: Monteserrat;
    font-size: 40px;
    color: #2b898b;
}

.food-serving .food-prep .prep-title {
    font-family: Monteserrat;
    color: #f88e28;
    font-size: 14px;
}

.food-serving .food-prep .prep-time{
    font-family: Monteserrat;
    font-size: 20px;
    color: #2b898b;
    margin-bottom: 20px
}

.food-serving .food-prep {
    line-height: 1;
}

.food-notes span:first-child{
    font-family: Monteserrat;
    color: #f88e28;
    font-size: 30px;
}

.food-notes span {
    font-family: Monteserrat;
    font-size: 15px;
    color: #000;
}

.food-ingredients span{
    font-family: Monteserrat;
    color: #f88e28;
    font-size: 30px;
}

.food-ingredients ul li {
    list-style: none;
    font-family: Monteserrat;
    font-size: 14px;
    line-height: 2;
}

.food-ingredients ul li::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #2b898b;
    border-radius: 50%;
    margin-right: 10px;
}

.food-directions span{
    font-family: Monteserrat;
    color: #f88e28;
    font-size: 30px;
}

.food-directions ol{
    list-style: none;
    counter-reset: num;
}

.food-directions ol li {
    font-family: Monteserrat;
    counter-increment: num;
    border-bottom: .5px solid #d3d1d1;
    display: flex;
    align-items: center;    
    font-size: 14px;
}

.food-directions ol li::before{
    font-family: HyPop-bold;
    content: counter(num);
    color: #2b898b;
    font-size: 45px;
    margin-right: 10px;
}


.chef-info .chef-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.chef-info .chef-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chef-info .chef-description {
    margin-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.chef-info .chef-description span:first-child{
    font-family: Monteserrat-bold;
    color: #f88e28;
    font-size: 12px;
    font-weight: 700;
}

.chef-info .chef-description span{
    font-family: Monteserrat-bold;
    color: #2b898b;
    font-size: 15px;
}


@media (max-width: 991px){
    header{
        padding: 20px;
    }

    header .menu-bar{
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #213037;
        border-top: 1px solid rgba(0, 0, 0, .3);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
        
    }

    header .navbar ul li ul li {
        height: 300px;
        overflow-y: scroll;
    }
    
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .container div .food-img img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
    }

    .food-serving .food-serve span:first-child{
        font-size: 20px;
    }
    
    .food-serving .food-serve span {
        font-size: 25px;
    }
    
    .food-serving .food-prep .prep-title {
        font-size: 14px;
    }
    
    .food-serving .food-prep .prep-time{
        font-size: 18px;
        margin-bottom: 15px
    }
    
}

@media (min-width: 1000px){
    section {
        margin-top: 150px;
    }
}