@font-face {
    font-family: Monteserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Monteserrat-bold;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: HyPop;
    src: url(../fonts/hypop/Hypop.ttf);
}

@font-face {
    font-family: HyPop-bold;
    src: url(../fonts/hypop/Hypop-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fffaf1;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #213037;
    font-family: Monteserrat;
    text-transform: capitalize;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    height: 30px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #fff;
    display: block;
    text-decoration: none;
    list-style: none;
}

header .navbar ul li ul.recipes {
    padding: 0px !important;
}

header .navbar ul li ul.recipes a {
    font-size: 12px;
}

header .navbar ul li a:hover {
    background: #344953;

}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 150px;
    height: 300px;
    overflow-y: scroll;
    background: #213037;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

header .navbar ul li:hover > ul {
    display: initial;
}


header .navbar ul li ul li::-webkit-scrollbar {
    width: 6px;
}

header .navbar ul li ul li::-webkit-scrollbar-thumb {
    background-color: #999;
    height: 50px;
    border-radius: 50px;
}

header .navbar ul li ul li::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#menu {
     display: none;
}

header .menu-bar{
    height: 25px;
    filter: invert(1);
    cursor: pointer;
    display: none;
}

section {
    margin-top: 80px;
}

section .cover{
    min-height: 100vh;
    background: url(../img/cover.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .cover-text{
    font-family: HyPop-bold;
    font-size: 5rem;
    font-style: italic;
}

section .cover-text span:first-child{
    color: #f8b735;
}

section .cover-text span {
    color: #ffffff;
}

.recipe-cards {
    margin-top: 100px;
}

.recipe-title {
    color: #2b898b;
    font-family: HyPop-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: .8;
    margin-bottom: 50px;
}

.recipe-title span {
    font-size: 50px;
}
.recipe-title .line {
    width: 150px;
    height: 7px;
    border-radius: 10px;
    background: #f8b735;
}

.recipe-cards .card {
    height: auto;
    width: 200px;
    margin: 20px auto;
}

.recipe-cards .card a {
    text-decoration: none;
    color: #000;
}

.recipe-name {
    font-family: Monteserrat;
    font-size: 14px;
    color: #2b898b;
}

.chef-info {
    margin-top: 80px !important;
}

.chef-title {
    color: #2b898b;
    font-family: HyPop-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: .8;
    margin-bottom: 50px;
}

.chef-title span {
    font-size: 50px;
}
.chef-title .line {
    width: 150px;
    height: 7px;
    border-radius: 10px;
    background: #f8b735;
}

.chef-info .chefs {
    align-items: center;
    margin: 20px auto;
    flex-direction: column;
}

.chef-info .chef-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.chef-info .chef-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chef-info .chef-description {
    font-family: Monteserrat-bold;
    color: #2b898b;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
}

@media (max-width: 991px){
    header{
        padding: 20px;
    }

    header .menu-bar{
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #213037;
        border-top: 1px solid rgba(0, 0, 0, .3);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
        
    }

    header .navbar ul li ul li {
        height: 300px;
        overflow-y: scroll;
    }
    
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}


@media (min-width: 800px){
    section .cover-text{
    font-size: 9rem;
    }
}

@media (min-width: 1000px){
    section .cover-text{
    font-size: 13rem;
    }
}

